<link rel="stylesheet" href="/public/css/apply.css">
<div class="whole_container">
        <div class="dula">
                <h2>Apply</h2>
                <div>
            <form action=""  id="apply_form">
                <div>
                <div class="left_part">
                    <input type="text" name="fullname" id="name_iput" placeholder="Full name">
                    <input type="text" name="fullname" id="name_iput" placeholder="Phone Number">
                    <input type="email" name="fullname" id="name_iput" placeholder="Email">
                    <input type="text" name="fullname" id="name_iput" placeholder="Address">
                </div>
                <div class="right_part">
                   <div class="optional">
                       <select name="lga" id="" class="local">
                           <option value="">Local Government</option>
                           <option value="Akko">Akko</option>
                           <option value="Balanga">Balanga</option>
                           <option value="Billiri">Billiri</option>
                           <option value="Funakaye">Funakaye</option>
                           <option value="Gombe">Gombe</option>
                           <option value="Shongom">Shongom</option>
                           <option value="Nafada">Nafada</option>
                           <option value="Kaltungo">Kaltungo</option>
                           <option value="Kwami">Kwami</option>
                           <option value="Dukku">Dukku</option>
                           <option value="Y/Deba">Yamaltu Deba</option>
                       </select>
                   </div>
                   <div class="sub_gender">
                   <select name="gender" id="" class="gender">
                       <option value="">Gender</option>
                       <option value="Male">Male</option>
                       <option value="Female">Female</option>
                   </select> 
                </div>
                <div class="marry_status">
                    <select name="mstatus" id="" class="marital">
                        <option value="">Marital Status</option>
                        <option value="Single">Single</option>
                        <option value="Married">Married</option>
                    </select>
                </div> 
                <div class="program_selection">
                    <h4>*Select your preferrable programme to enrol</h4>
                    <select name="programme" id="" class="program">
                        <option value="">Select Programme</option>
                        <option value="Soap">Soap Making</option>
                        <option value="Tailoring & Design">Tailoring & Design</option>
                        <option value="Knitting">Knitting</option>
                        <option value="Shoe Making">Shoe Making</option>
                    </select>
                </div>   
                </div>
            </div>
                <div class="submission">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.?</p>
                        <input type="submit" value="Apply">
                    </div>
            </form>
        </div>
        </div>
        <div class="bg">
            <img src="/public/img/form_bg.png" alt="aaaaaaaaaa"></div>
    </div>